// app global css in SCSS form

$font-size-1: 40px;
$font-size-2: 32px;
$font-size-3: 25px;
$font-size-4: 20px;
$font-size-5: 16px;
$font-size-6: 14px;

$dark-primary-color: #303f9f;
$light-primary-color: #c5cae9;
$primary-color: #3f51b5;
$text-color: #212121;
$sub-text-color: #757575;
$border-color: #bdbdbd;
$button-color: #ffc107;
$icon-color: #ffffff;
